In [1]:
import pandas as pd 
import numpy as np 
import statistics

In [2]:
# import in_time data
df = pd.read_csv(r'C:\Users\SarahRana\OneDrive - JCW Resourcing\Documents\Datasets\in_time.csv', index_col=0)
df = pd.read_csv(r'C:\Users\SarahRana\OneDrive - JCW Resourcing\Documents\Datasets\in_time.csv', index_col=0,parse_dates=list(range(len(df.columns)+1)) )

In [3]:
# import out_time data
da = pd.read_csv(r'C:\Users\SarahRana\OneDrive - JCW Resourcing\Documents\Datasets\out_time.csv', index_col=0,parse_dates=list(range(len(df.columns)+1)) )

In [4]:
df.dropna(axis=1,how='all',inplace=True) #in_time

In [5]:
da.dropna(axis=1,how='all',inplace=True) #out_time

In [6]:
arr1=df.to_numpy(copy=True)
arr2=da.to_numpy(copy=True)

In [7]:
arr1

array([['2015-01-02T09:43:45.000000000', '2015-01-05T10:08:48.000000000',
        '2015-01-06T09:54:26.000000000', ...,
        '2015-12-29T10:03:36.000000000', '2015-12-30T09:54:12.000000000',
        '2015-12-31T10:12:44.000000000'],
       ['2015-01-02T10:15:44.000000000', '2015-01-05T10:21:05.000000000',
                                  'NaT', ...,
        '2015-12-29T09:55:49.000000000', '2015-12-30T10:32:25.000000000',
        '2015-12-31T09:27:20.000000000'],
       ['2015-01-02T10:17:41.000000000', '2015-01-05T09:50:50.000000000',
        '2015-01-06T10:14:13.000000000', ...,
        '2015-12-29T09:43:36.000000000', '2015-12-30T09:34:05.000000000',
        '2015-12-31T10:28:39.000000000'],
       ...,
       ['2015-01-02T10:01:01.000000000', '2015-01-05T09:33:00.000000000',
        '2015-01-06T09:49:17.000000000', ...,
                                  'NaT', '2015-12-30T10:02:36.000000000',
        '2015-12-31T10:03:30.000000000'],
       ['2015-01-02T10:17:05.000000000', '2015-01-05T10:02:27.000000000',
        '2015-01-06T10:12:50.000000000', ...,
        '2015-12-29T09:54:42.000000000', '2015-12-30T10:15:44.000000000',
        '2015-12-31T09:56:47.000000000'],
       ['2015-01-02T09:59:09.000000000', '2015-01-05T10:16:14.000000000',
        '2015-01-06T09:52:30.000000000', ...,
        '2015-12-29T10:05:15.000000000', '2015-12-30T10:32:49.000000000',
        '2015-12-31T10:09:28.000000000']], dtype='datetime64[ns]')

In [8]:
arr=arr2-arr1

In [10]:
final_df=pd.DataFrame(arr,columns=list(df.columns))

In [11]:
final_df.index = final_df.index + 1 #reset index starting from 1 to match EmployeeID

In [18]:
final_df

,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,2015-01-16,...,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,mean,attendence
1,0 days 07:12:30,0 days 07:11:23,0 days 07:24:39,0 days 07:00:24,0 days 07:17:23,0 days 07:29:04,0 days 07:15:46,0 days 07:49:52,0 days 07:20:49,0 days 07:16:03,...,0 days 07:20:21,0 days 07:23:45,0 days 06:30:17,0 days 07:35:47,0 days 07:46:26,0 days 07:18:54,0 days 07:46:44,0 days 07:04:49,7.0,232
2,0 days 08:06:33,0 days 07:27:17,NaT,0 days 07:23:49,0 days 07:25:00,0 days 07:09:03,0 days 07:36:41,0 days 07:16:44,0 days 07:36:47,0 days 07:43:39,...,0 days 07:45:14,0 days 07:42:44,0 days 07:26:08,NaT,0 days 07:36:53,0 days 07:58:57,0 days 07:59:10,0 days 08:13:38,7.0,236
3,0 days 06:41:33,0 days 07:15:56,0 days 06:24:19,0 days 06:45:54,0 days 07:20:42,0 days 06:51:41,0 days 07:25:07,0 days 06:59:59,0 days 07:26:18,0 days 07:12:37,...,0 days 07:09:49,0 days 06:48:06,0 days 06:43:49,0 days 06:50:59,0 days 07:01:26,0 days 07:26:20,0 days 07:32:20,0 days 06:47:11,7.0,242
4,0 days 07:20:18,0 days 07:17:31,0 days 06:56:35,0 days 06:55:10,0 days 06:51:03,0 days 07:11:35,0 days 06:59:55,0 days 07:18:23,0 days 06:52:36,0 days 06:54:28,...,0 days 06:50:48,0 days 07:19:35,0 days 07:24:49,0 days 07:05:06,0 days 07:26:50,0 days 07:25:00,0 days 07:21:59,0 days 07:07:59,7.0,235
5,0 days 08:03:20,0 days 07:59:17,0 days 07:40:57,0 days 07:48:22,0 days 07:39:44,0 days 07:43:18,0 days 08:21:54,0 days 08:15:26,0 days 08:15:36,0 days 08:24:13,...,0 days 07:39:54,0 days 07:57:27,0 days 07:47:13,0 days 08:14:58,0 days 07:39:44,0 days 08:16:07,0 days 07:57:12,0 days 08:01:05,8.0,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406,0 days 08:07:05,0 days 08:50:27,0 days 08:23:58,0 days 08:50:42,0 days 08:13:25,0 days 08:16:51,0 days 08:21:38,0 days 08:45:33,0 days 08:21:20,0 days 09:00:27,...,0 days 08:09:41,0 days 08:17:33,0 days 08:36:16,0 days 08:35:49,0 days 08:28:56,0 days 09:04:29,0 days 08:56:37,0 days 08:30:29,8.0,243
4407,0 days 06:15:20,NaT,0 days 05:23:37,0 days 05:43:40,0 days 06:11:36,0 days 05:42:52,0 days 06:03:10,0 days 06:17:32,0 days 06:00:49,0 days 05:35:33,...,0 days 05:49:50,0 days 05:55:29,0 days 06:06:38,0 days 05:59:34,0 days 05:40:11,0 days 06:33:30,0 days 05:42:08,0 days 06:08:51,6.0,241
4408,0 days 07:16:34,0 days 07:35:07,0 days 07:38:29,0 days 07:59:10,0 days 07:17:47,0 days 07:01:54,0 days 07:46:33,0 days 07:28:42,0 days 08:07:22,0 days 07:41:57,...,0 days 07:51:58,0 days 07:45:13,0 days 07:45:08,0 days 07:24:07,0 days 07:44:04,NaT,0 days 07:45:38,0 days 08:05:25,7.0,231
4409,0 days 09:31:32,0 days 09:35:13,0 days 09:47:18,0 days 09:23:28,0 days 09:12:16,NaT,0 days 09:17:39,0 days 09:35:59,0 days 09:29:04,0 days 09:20:21,...,0 days 09:20:27,0 days 09:22:21,0 days 09:14:30,0 days 09:41:52,0 days 10:03:11,0 days 09:00:44,0 days 09:21:38,0 days 09:36:58,9.0,241
4410,0 days 06:50:10,0 days 07:16:48,0 days 06:43:40,0 days 06:50:32,0 days 07:25:36,0 days 06:58:19,0 days 06:51:46,0 days 07:29:28,0 days 07:05:32,0 days 06:51:22,...,0 days 07:00:07,NaT,0 days 06:43:12,0 days 06:18:24,0 days 07:33:33,0 days 07:11:04,0 days 06:57:06,0 days 06:29:50,6.0,232

In [13]:
final_df['mean'] = final_df.mean(axis=1).astype('timedelta64[h]') # calculate mean hours worked

In [14]:
final_df['attendence'] = final_df.iloc[:,:-1].count(axis=1)

In [15]:
employee_timekeep=final_df.iloc[:,-2:]

In [16]:
employee_timekeep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 1 to 4410
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mean        4410 non-null   float64
 1   attendence  4410 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 69.0 KB

In [17]:
employee_timekeep.to_csv('mean_n_attendence.csv')